/* Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
@layer base {
  body {
    font-family: 'Rubik', sans-serif;
  }
}

/* Icons Font Face */
@font-face {
  font-family: 'icomoon';
  src:  url('/src/vendors/fonts/icomoon.eot?qyot1v');
  src:  url('/src/vendors/fonts/icomoon.eot?qyot1v#iefix') format('embedded-opentype'),
        url('/src/vendors/fonts/icomoon.ttf?qyot1v') format('truetype'),
        url('/src/vendors/fonts/icomoon.woff?qyot1v') format('woff'),
        url('/src/vendors/fonts/icomoon.svg?qyot1v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Custom Icon Styles */
i {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-arrow:before {
  content: "\e900";
}

.icon-icon-error .path1:before {
  content: "\e902";
}

.icon-icon-error .path2:before {
  content: "\e903";
  margin-left: -1em;
}

.icon-icon-error .path3:before {
  content: "\e904";
  margin-left: -1em;
}

.icon-icon-facebook:before {
  content: "\e905";
}

.icon-icon-twitter:before {
  content: "\e906";
}